 @import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
 h1,
 h2 {
     font-family: "Gloria Hallelujah";
     color: firebrick
 }
 
 img {
     max-width: 100%
 }
 
 body {
     background-color: skyblue
 }
 
 #content {
     width: 80%;
     max-width: 960px;
     margin: auto;
 }
 
 .rightcol,
 .leftcol {
     flex: 1 1 50%;
     margin: 15px;
 }
 
 #section1 {
     display: flex;
 }
 
 #section2 {
     display: flex;
     flex-flow: row-reverse
 }
 
 #section3 {
     display: flex;
     max-width: 100%
 }
 
 ul {
     list-style-type: none;
     display: flex;
     justify-content: space-around;
     flex-flow: row-wrap;
 }
 
 nav li {
     flex: 1 0 6em
 }
 
 nav a: link,visited {
     color: gold;
 }
 
 nav a: hover {
     text-decoration: underline;
 }
 
 nav ul {
     margin: 0;
 }
 
 nav a: padding-left: padding 1em, .6em;
a: hover {color: red;}